<%- include('../partials/header')%>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a href="/" class="navbar-brand">
            Snap
        </a>
        
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a  class="nav-link" href="/logout" style="margin-right: 15px;">Logout</a>
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Edição de Usuário</h2>
            </div>
            <div class="card-body">
                <form action="/user/update" method="POST">
                    <input type="hidden" name="id" value="<%= user.id %>">
                    <input type="text" class="form-control" name="name" placeholder="Insira seu nome" value="<%= user.name %>">
                    <br>
                    <input type="text" class="form-control" name="email" placeholder="Insira seu email" value="<%= user.email %>">
                    <br>
                    <!-- <input type="password" class="form-control" name="password" placeholder="Insira sua senha"> -->
                    <br>
                    <button class="btn btn-primary">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</body>

<h3>álspdk</h3>