<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand" style="margin-left: 20px;">
        Snap
    </a>
    <ul class="navbar-nav ms-auto" style="margin-right: 25px;">
        <li class="nav-item">
            <a href="/user/edit/<%= idSession %>" class="nav-link">Editar usuário</a>
        </li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a  class="nav-link" href="/logout" style="margin-right: 15px;">Logout</a>
        </li>
    </ul>
</nav>